<?xml version="1.0" encoding="utf-8"?>

<connectionStrings>

	<add name="DefaultConnection"
		 connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-RCMS.WEB-20180930105938.mdf;Initial Catalog=aspnet-RCMS.WEB-20180930105938;Integrated Security=True"
		 providerName="System.Data.SqlClient"/>

	<add name="EntitiesCms"
		 connectionString="metadata=res://*/CmsModels.csdl|res://*/CmsModels.ssdl|res://*/CmsModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RIFAT-X1CARBON\SQL22;initial catalog=zRifCloudDb;user id=sa;password=1234;MultipleActiveResultSets=True;App=EntityFramework&quot;"
		 providerName="System.Data.EntityClient"/>
</connectionStrings>